<mat-sidenav-container class="places-manager-container">
  <mat-sidenav #sidenav mode="side" opened class="places-manager-sidenav">
    <!--div class="places-data-container"-->
    <app-search-place class="search-place-card"></app-search-place>
    <app-places-table *ngIf="(places$ | async)?.length"></app-places-table>
    <!--/div-->
  </mat-sidenav>

  <mat-sidenav-content>
    <button mat-raised-button color="accent" (click)="sidenav.toggle(); changeActionName()" class="toggle-button">{{actionName}} Places manager</button>
    <app-google-map></app-google-map>
  </mat-sidenav-content>
</mat-sidenav-container>